header{
    background-image: url("../images/1119.jpg"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-blend-mode: overlay;
    height: 100vh;
}